* {
  font-family: "Lucida Console", Monaco, monospace;
}

.HippoCamp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  background-color: #30a9de;
}

.flex-container-red {
  display: flex;
  justify-content: center;
  background-color: #e53a40;
}

div.row_element {
  display: flex;
  flex-direction:column;
  background-color: #f1f1f1;
  width: 16.3%;
  height:75px;
  margin-left: .1%;
  margin-right: .1%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  line-height: 19px;
  font-size: 15px;
  vertical-align: top;
  align-items: center;
  justify-content: center;
}

input.poke {
  font-size:80%;
  width:80%;
}
